@media (max-width: 800px)
{
    .input-container > input{
        width: 170px;
    }
    #img-1{
        width: 142px;
        height: 40px;
        margin: 10px;
    }

    .text-carrossel{
        margin-left: 15%;
    }

    .carrossel{
        background-image: url(assets/mobileF.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-top: 50px;
        
    }

    
}

@media (min-width: 800px) and (max-width: 1200px)
{
    .input-container > input{
        width: 300px;
        
    }
    #img-1{
        width: 213px;
        height: 60px;
    }
    .text-carrossel{
        margin-left: 120px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px)
{
    .input-container > input{
        width: 500px;
    }
    .text-carrossel{
        margin-left: 200px;
    }

}