@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1% 0;
}

#img-1{
    width: 200px;
    
}

.input-container{
    position: relative;
    margin: 5px 5%;
}

.input-container > label{
    position: absolute;
    left: 97%;
    top: 20%;
}

.input-container > input{
    width: 700px;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
}

.span-navbar{
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    color: rgb(118, 117, 117);
}

.icons-navbar{
    margin: 20px 10px;
}

.carrosel{
    background-image: url(assets/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 50px;
}

.carrosel > span{
    display: flex;
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 24px;
    height: 400px;
}

.carrosel > h4{
    c
}

