*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    flex-direction: row;
}

#img-1{
    width: 200px;
    margin: 1% 3%;
}

.input-container{
    position: relative;
}

.input-container > label{
    position: absolute;
    left: 90%;
    top: 20%;
}

.input-container > input{
    
    height: 40px;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
}